<div fxFlex fxLayoutAlign="center center">
  <div fxFlex.xs="100%" fxFlex.sm="60%" fxFlex.md="40%" fxFlex.lg="30%" fxFlex.xl="25%">
    <mat-card class="mat-elevation-z0">
      <mat-card-title>{{ 'CREATE_ACCOUNT' | translate }}</mat-card-title>
      <mat-card-content>
        <div *ngIf="error | async">{{ error | async }}</div>
        <form (ngSubmit)="submit()" [formGroup]="signupForm" novalidate>
          <div fxLayout="column">
            <mat-form-field>
              <input matInput required email type="email" [placeholder]="'EMAIL' | translate" formControlName="email">
            </mat-form-field>
            <mat-form-field>
              <input matInput required type="password" [placeholder]="'PASSWORD' | translate" formControlName="password">
            </mat-form-field>
            <div>
              <button fxFlex mat-flat-button color="primary" [disabled]="signupForm.invalid" type="submit">
                {{ 'CREATE_ACCOUNT' | translate }}
              </button>
              <a fxFlex mat-button routerLink="/sign-in">{{ 'LOG_IN' | translate }}</a>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
