<div fxFlex fxLayout="row" fxLayoutAlign="center start">
  <mat-card fxFlex fxFlex.sm="65" fxFlex.gt-sm="50" class="mat-elevation-z0">
    <mat-card-title>{{ 'CREATE_ACCOUNT' | translate }}</mat-card-title>
    <mat-card-content>
      <div *ngIf="error | async">{{ error | async }}</div>
      <form (ngSubmit)="submit()" [formGroup]="signupForm" novalidate>
        <div fxLayout="column">
          <mat-form-field>
            <input matInput required email type="email" [placeholder]="'EMAIL' | translate" formControlName="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput required type="password" [placeholder]="'PASSWORD' | translate" formControlName="password">
          </mat-form-field>
          <div>
            <button fxFlex mat-flat-button color="accent" [disabled]="signupForm.invalid" type="submit">
              {{ 'CREATE_ACCOUNT' | translate }}
            </button>
          </div>
          <div class="padding-10">
            <a fxFlex mat-button [routerLink]="['/', routes.SIGNIN]">{{ 'LOG_IN' | translate }}</a>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
