# Use root/example as user/password credentials
version: '3.1'

services:
  mongo:
    image: mongo
    container_name: 'emendareDB'
    restart: always
    volumes:
      - ./data/db:/data/db
    ports:
      - 27017:27017
