<div fxFlex fxLayoutAlign="center">
  <mat-card fxFlex class="mat-elevation-z0">
    <mat-card-title>{{ 'LOG_IN' | translate }}</mat-card-title>
    <mat-card-content>
      <div *ngIf="error | async">{{ error | async }}</div>
      <form (ngSubmit)="submit()" [formGroup]="signinForm" novalidate>
        <div fxLayout="column">
          <mat-form-field fxFlex="100%">
            <input matInput required email type="email" [placeholder]="'EMAIL' | translate" formControlName="email" [class.invalid]="signinForm.controls.email.errors && signinForm.controls.email.dirty">
          </mat-form-field>
          <mat-form-field fxFlex="100%">
            <input matInput required type="password" [placeholder]="'PASSWORD' | translate" formControlName="password" [class.invalid]="signinForm.controls.password.errors && signinForm.controls.password.dirty">
          </mat-form-field>
          <div>
            <button fxFlex mat-flat-button color="accent" [disabled]="signinForm.invalid" type="submit">
              {{ 'LOG_IN' | translate }}
            </button>
            <a fxFlex mat-button [routerLink]="['/', routes.SIGNUP]">{{ 'CREATE_ACCOUNT' | translate }}</a>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
