markdown {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

markdown > *:first-child {
  margin-top: 0 !important;
}

markdown > *:last-child {
  margin-bottom: 0 !important;
}

markdown ul,
markdown ol {
  padding-left: 2em;
}

markdown li + li {
  margin-top: 0.25em;
}

markdown h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

markdown h1,
markdown h2,
markdown h3,
markdown h4,
markdown h5,
markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

markdown blockquote {
  margin: 20px 0;
}

markdown a {
  color: #0366d6;
  text-decoration: none;
}
