* {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

html {
  background-color: #e6ecf0;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr !important;
  }

  .section {
    padding: 3em 1em;
  }
}

/** Events list card **/
.card-events {
  background: none;
  box-shadow: none;
}

.card-events-header {
  background-color: none;
  box-shadow: none;
  flex-direction: column;
}

.card-events-header-icon {
  display: flex;
  justify-content: flex-end;
}

.card-events-container {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.card-events-body {
  padding: 1em 1em;
}

/** Effects **/
.hover-circle:hover {
  background-color: hsl(0, 0%, 96%);
  border-radius: 50%;
}
