* {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

html {
  background: #e6ecf0;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr !important;
  }

  html {
    padding-bottom: 45px;
  }

  html.has-navbar-fixed-top {
    padding-top: 52px;
  }

  html.has-navbar-fixed-bottom {
    padding-top: 52px;
  }
}

.container-column {
  background: #fff;
  border: 1px solid #e6ecf0;
  border-radius: 0 0 5px 5px;
}
/** Events list card **/
.card-events {
  border-bottom: 1px solid #e6ecf0;
  padding: 9px 12px;
}

.card-events-footer {
  margin-top: 1rem;
}

/** Effects **/
.hover-circle:hover {
  background-color: hsl(0, 0%, 96%);
  border-radius: 50%;
}

.ReactVirtualized__Grid {
  outline: none;
}
