<div fxLayout="column">
  <h1 class="center mat-display-3">{{ "HOME_TITLE" | translate }}</h1>
  <p id="home-subtitle" class="center mat-display-1">
    {{ "HOME_SUBTITLE" | translate }}
  </p>
  <p class="center mat-headline">
    {{ "HOME_DESCRIPTION" | translate }}
  </p>
  <h2 class="center mat-display-1">
    {{ "FEATURES" | translate}}
  </h2>
  <div fxLayout="row" fxLayoutGap="30px" class="center">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="bigger-icon" color="primary">text_format</mat-icon>
      <h3 class="subheading-1">{{ "FEATURES_EDITOR" | translate}}</h3>
      <p fxFlex>{{ "FEATURES_EDITOR_DESC" | translate}}</p>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="bigger-icon" color="primary">share</mat-icon>
      <h3 class="subheading-1">{{ "FEATURES_GROUPS" | translate}}</h3>
      <p fxFlex>{{ "FEATURES_GROUPS_DESC" | translate}}</p>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="bigger-icon" color="primary">bar_chart</mat-icon>
      <h3 class="subheading-1">{{ "FEATURES_VOTES" | translate}}</h3>
      <p fxFlex>{{ "FEATURES_VOTES_DESC" | translate}}</p>
    </div>
  </div>
  <h2 class="center mat-display-1">
    {{ "USE_CASES" | translate}}
  </h2>
  <div fxLayout="row" fxLayoutGap="30px" class="center">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <h3 class="mat-subtitle">{{ "USE_CASES_COMPANY" | translate}}</h3>
      <p fxFlex>{{ "USE_CASES_COMPANY_DESC" | translate}}</p>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <h3 class="mat-subtitle">{{ "USE_CASES_POLITICS" | translate}}</h3>
      <p fxFlex>{{ "USE_CASES_POLITICS_DESC" | translate}}</p>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <h3 class="mat-subtitle">{{ "USE_CASES_GROUPS" | translate}}</h3>
      <p fxFlex>{{ "USE_CASES_GROUPS_DESC" | translate}}</p>
    </div>
  </div>
</div>
