html {
  background: #e6ecf0;
}

body,
button,
input,
select,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  10% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html.has-navbar-fixed-top {
  padding-top: 109px;
}

main {
  margin-top: 1rem;
}

#navtabs {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 58px;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr !important;
  }

  html.has-navbar-fixed-top {
    padding-top: 97px;
  }

  #navtabs {
    top: 52px;
  }

  #navtabs .tabs .icon {
    margin: 0;
  }

  main {
    margin-top: 0;
  }
}

.card__container {
  grid-template-columns: 60px auto;
  grid-template-areas:
    'icon description'
    'detail detail'
    '. footer';
}

.card-events-footer {
  margin-top: 1rem;
}

.no-focus-outlined:focus:not(:active) {
  box-shadow: none;
}
