<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <a id="app-title" mat-toolbar-title [routerLink]="[routes.HOME]" [title]="'HOME' | translate">{{ title }}</a>
    <div fxFlex></div>
    <div *ngIf="!(isAuthenticated | async)">
      <a mat-button [routerLink]="['/', routes.SIGNIN]">{{ "LOG_IN" | translate }}</a>
    </div>
    <button *ngIf="isAuthenticated | async" mat-icon-button [matMenuTriggerFor]="profilMenu" [title]="'PROFIL' | translate">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <mat-menu #profilMenu="matMenu">
      <a mat-menu-item [routerLink]="['/', routes.PROFILE]">
        {{ "PROFIL" | translate }}
      </a>
      <a mat-menu-item [routerLink]="['/', routes.SIGNOUT]">{{ "LOG_OUT" | translate }}</a>
    </mat-menu>
    <a mat-icon-button [href]="issuesPath" [title]="'ISSUES' | translate">
      <mat-icon>bug_report</mat-icon>
    </a>
    <app-settings-menu></app-settings-menu>
  </mat-toolbar-row>
</mat-toolbar>
